				
					<li>
                        <a href="#"><i class="fa fa-home"></i> <span class="nav-label">首页 </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:url('index_v3')}">首页</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file"></i> <span class="nav-label">租房管理 </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:url('House/index')}">租房管理</a></li>
                            <!-- <li><a class="J_menuItem" href="{:url('House/configs')}">房屋配置</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file"></i> <span class="nav-label">社区管理 </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:url('Community/index')}">二手交易</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i> <span class="nav-label">运营管理 </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:url('Operation/advlist')}">广告位管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i> <span class="nav-label">用户管理 </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:url('User/index')}">用户管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cloud"></i> <span class="nav-label">采集管理 </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:url('Collect/index')}">采集规则</a></li>
                            <li><a class="J_menuItem" href="{:url('Collect/collect')}">测试采集</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">系统管理 </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:url('System/dict')}">站点字典</a>
                            </li>
                            <li><a class="J_menuItem" href="{:url('System/index')}">系统配置</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">工具 </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="form_builder.html">表单构建器</a>
                            </li>
                        </ul>
                    </li> -->